.quadrado1 {
  padding: 60px;
  width: 800px;
  max-width: 95%;
  min-height: 600px;
  background-color: #A0CCA0;
  border: 2px solid rgb(2, 26, 11);
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 150px auto 0 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  border-radius: 15px;
}


/* Imagem da esquerda */
.patos {
  margin-left: auto;
  margin-right: 30px;
  display: block;
  width: 370px;
  max-width: 90%;
  height: auto;
  margin-top: -700px;
  margin-bottom: 300px;
  border: 2px solid black;
  border-radius: 15px;
}

/* Descrição associada à imagem da esquerda */
.descricao3 {
  margin: -300px -400px 300px auto;
  text-align: center;
  font-size: 20px;
  max-width: 90%;
}

/* Imagem da direita */
.Alface {
  border-radius: 15px;
  display: block;
  width: 370px;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: 30px;
  border: 2px solid black;
  margin-top: -300px;
  margin-bottom: 150px;
}


.descricao {
  margin: -150px -400px 0 auto;
  text-align: center;
  font-size: 20px;
  max-width: 90%;
}

.bosque {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
  border: 2px solid black;
}

/* -------------------- RESPONSIVO -------------------- */
@media (max-width: 768px) {
  .quadrado1 {
    margin-top: 50px;
    min-height: 200px;
    font-size: 22px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .descricao,
  .descricao3 {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .patos,
  .Alface {
    margin: 30px auto;
    width: 90%;
    height: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .quadrado1 {
    font-size: 18px;
    padding: 15px;
   margin-left: auto;
    margin-right: auto;
    min-height: 200px;
  }

  .descricao,
  .descricao3 {
    font-size: 14px;
    margin: 20px auto;
  }

  .patos,
  .Alface {
    margin: 20px auto;
    width: 100%;
    height: auto;
  }
}
