.retangulo{
    width: 100%;
    height: 200px;
    background-color:#1D2D1C;
    color:white;
    display: flex;
    align-items:center;
    justify-content: center;

}
.body{
    background-color: #55A455;
}

